<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adplatform.restApi.domain.agency.taxbill.dao.mapper.AgencyTaxBillQueryMapper">
    <resultMap id="mapSearch" type="com.adplatform.restApi.domain.agency.taxbill.dto.AgencyTaxBillDto$Response$Search">
        <id column="id" property="id"/>
        <result column="issueStatus" property="issueStatus"/>
        <result column="statDate" property="statDate"/>
        <result column="supplyAmount" property="supplyAmount"/>
        <result column="vatAmount" property="vatAmount"/>
        <result column="totalAmount" property="totalAmount"/>
    </resultMap>

    <sql id="searchSelectQuery">
        SELECT id, stat_date AS statDate, supply_amount AS supplyAmount, vat_amount AS vatAmount,
               total_amount AS totalAmount, issue_status AS issueStatus
          FROM adaccount_tax_bill_monthly
         WHERE stat_date BETWEEN #{request.startDate} AND #{request.endDate}
           AND company_info_id = #{request.companyId}
    </sql>

    <select id="search" resultMap="mapSearch">
        <include refid="searchSelectQuery"/>
        <include refid="common.sortAndOrder"/>
        <include refid="common.limitAndOffset"/>
    </select>

    <select id="countSearch" resultType="long">
        SELECT COUNT(*)
        FROM (<include refid="searchSelectQuery"/>) a
    </select>
</mapper>
