<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
author Seohyun Lee
since 1.0
-->
<mapper namespace="com.adplatform.restApi.domain.campaign.dao.campaign.mapper.CampaignQueryMapper">
    <resultMap id="mapSearch" type="com.adplatform.restApi.domain.campaign.dto.CampaignDto$Response$Page">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="dailyBudgetAmount" property="dailyBudgetAmount"/>
        <result column="budgetAmount" property="budgetAmount"/>
        <result column="config" property="config"/>
        <result column="systemConfig" property="systemConfig"/>
        <result column="status" property="status"/>
        <result column="createdAt" property="createdAt"/>
        <result column="updatedAt" property="updatedAt"/>
        <result column="startDate" property="startDate"/>
        <result column="endDate" property="endDate"/>
        <result column="adGroupSchedulesFirstStartDate" property="adGroupSchedulesFirstStartDate"/>
        <result column="adGroupSchedulesLastEndDate" property="adGroupSchedulesLastEndDate"/>
        <association property="adTypeAndGoal" javaType="com.adplatform.restApi.domain.campaign.dto.AdTypeAndGoalDto">
            <result column="adTypeName" property="adTypeName"/>
            <result column="adGoalName" property="adGoalName"/>
        </association>
        <association property="report" javaType="com.adplatform.restApi.domain.statistics.dto.ReportDto$Response">
            <result column="cost" property="cost"/>
            <result column="impression" property="impression"/>
            <result column="click" property="click"/>
            <result column="reach" property="reach"/>
            <result column="videoAutoPlay" property="videoAutoPlay"/>
            <result column="videoTouches" property="videoTouches"/>
            <result column="videoUnmute" property="videoUnmute"/>
            <result column="videoPlay3Seconds" property="videoPlay3Seconds"/>
            <result column="videoPlay5Seconds" property="videoPlay5Seconds"/>
            <result column="videoPlay10Seconds" property="videoPlay10Seconds"/>
            <result column="videoPlay15Seconds" property="videoPlay15Seconds"/>
            <result column="videoPlay30Seconds" property="videoPlay30Seconds"/>
            <result column="videoPlay60Seconds" property="videoPlay60Seconds"/>
            <result column="videoPlay25Percent" property="videoPlay25Percent"/>
            <result column="videoPlay50Percent" property="videoPlay50Percent"/>
            <result column="videoPlay75Percent" property="videoPlay75Percent"/>
            <result column="videoPlay100Percent" property="videoPlay100Percent"/>
            <result column="signUpDay1" property="signUpDay1"/>
            <result column="purchaseDay1" property="purchaseDay1"/>
            <result column="viewCartDay1" property="viewCartDay1"/>
            <result column="signUpDay7" property="signUpDay7"/>
            <result column="purchaseDay7" property="purchaseDay7"/>
            <result column="viewCartDay7" property="viewCartDay7"/>
            <result column="ctr" property="ctr"/>
            <result column="cpm" property="cpm"/>
            <result column="cpc" property="cpc"/>
            <result column="reachRate" property="reachRate"/>
            <result column="videoPlayRate" property="videoPlayRate"/>
        </association>
    </resultMap>

    <sql id="campaignCondition">
        <choose>
            <when test="request.campaignCondition and request.campaignCondition.configs and request.campaignCondition.configs.size() > 0">
                <foreach collection="request.campaignCondition.configs" item="config" open="AND c.config IN (" separator=", " close=")">
                    #{config}
                </foreach>
            </when>
            <otherwise>
                AND c.config IN ('ON', 'OFF')
            </otherwise>
        </choose>
        <if test="request.campaignCondition">
            <if test="request.campaignCondition.ids and request.campaignCondition.ids.size() > 0">
                <foreach collection="request.campaignCondition.ids" item="id" open="AND c.id IN (" separator=", " close=")">
                    #{id}
                </foreach>
            </if>
            <if test="request.campaignCondition.name">
                AND c.name LIKE CONCAT('%', #{request.campaignCondition.name}, '%')
            </if>
            <if test="request.campaignCondition.statuses and request.campaignCondition.statuses.size() > 0">
                <foreach collection="request.campaignCondition.statuses" item="status" open="AND c.status IN (" separator=", " close=")">
                    #{status}
                </foreach>
            </if>
            <if test="request.campaignCondition.reportConditions and request.campaignCondition.reportConditions.size() > 0">
                <foreach collection="request.campaignCondition.reportConditions" item="condition">
                    AND ${condition.indicator.getValue()} ${condition.conditionFunction.getValue()} ${condition.value}
                </foreach>
            </if>
        </if>
    </sql>

    <sql id="searchCampaignSelectQuery">
        SELECT c.id,
               tg.id                          AS adTypeGoalId,
               tg.adTypeName,
               tg.adGoalName,
               c.name,
               c.daily_budget_amount          AS dailyBudgetAmount,
               c.budget_amount                AS budgetAmount,
               c.config,
               c.system_config                AS systemConfig,
               c.status                       AS status,
               c.reg_date                     AS createdAt,
               c.upd_date                     AS updatedAt,
               c.start_date                   AS startDate,
               c.end_date                     AS endDate,
               c.start_date                   AS adGroupSchedulesFirstStartDate,
               c.end_date                     AS adGroupSchedulesLastEndDate,
               <include refid="ReportCommonMapper.searchReportColumns"/>
        FROM campaign_info c
                 INNER JOIN (SELECT atg.id, at.name AS adTypeName, ag.name AS adGoalName
                             FROM ad_type_goal_info atg
                                      INNER JOIN ad_type_info at ON atg.ad_type_info_id = at.id
                                      INNER JOIN ad_goal_info ag ON atg.ad_goal_info_id = ag.id) tg ON tg.id = c.ad_type_goal_info_id
                 LEFT JOIN (SELECT campaign_info_id,
                                   <include refid="ReportCommonMapper.reportUnionColumns"/>
                            FROM (SELECT campaign_info_id,
                                         <include refid="ReportCommonMapper.reportColumns"/>
                                  FROM report_adgroup_daily rad
                                  WHERE rad.adaccount_info_id = #{request.adAccountId}
                                    AND rad.report_date BETWEEN #{request.reportStartDate} AND #{request.reportEndDate}
                                  GROUP BY rad.campaign_info_id
                                  UNION
                                  SELECT campaign_info_id,
                                         <include refid="ReportCommonMapper.reportConversionColumns"/>
                                  FROM report_adgroup_conversion_daily rac
                                  WHERE rac.adaccount_info_id = #{request.adAccountId}
                                    AND rac.report_date BETWEEN #{request.reportStartDate} AND #{request.reportEndDate}
                                  GROUP BY rac.campaign_info_id) inner_report
                            GROUP BY campaign_info_id) campaignReport ON campaignReport.campaign_info_id = c.id
            <if test="request.adGroupCondition">
                 INNER JOIN (SELECT c.id AS campaignId
                             FROM adgroup_info a
                                      INNER JOIN campaign_info c ON c.id = a.campaign_info_id
                                      INNER JOIN adgroup_schedule s ON a.id = s.adgroup_info_id
                                      LEFT JOIN (SELECT adgroup_info_id,
                                                        <include refid="ReportCommonMapper.reportUnionColumns"/>
                                                 FROM (SELECT adgroup_info_id,
                                                              <include refid="ReportCommonMapper.reportColumns"/>
                                                       FROM report_adgroup_daily rad
                                                       WHERE rad.adaccount_info_id = #{request.adAccountId}
                                                         AND rad.report_date BETWEEN #{request.reportStartDate} AND #{request.reportEndDate}
                                                       GROUP BY rad.adgroup_info_id
                                                       UNION
                                                       SELECT adgroup_info_id,
                                                              <include refid="ReportCommonMapper.reportConversionColumns"/>
                                                       FROM report_adgroup_conversion_daily rac
                                                       WHERE rac.adaccount_info_id = #{request.adAccountId}
                                                         AND rac.report_date BETWEEN #{request.reportStartDate} AND #{request.reportEndDate}
                                                       GROUP BY rac.adgroup_info_id) inner_report
                                                 GROUP BY adgroup_info_id) adGroupReport ON adGroupReport.adgroup_info_id = a.id
                            <trim prefix="WHERE" prefixOverrides="AND | OR ">
                                c.adaccount_info_id = #{request.adAccountId}
                                <include refid="com.adplatform.restApi.domain.adgroup.dao.adgroup.mapper.AdGroupQueryMapper.adGroupCondition"/>
                            </trim>
                             GROUP BY c.id) a ON a.campaignId = c.id
            </if>
            <if test="request.creativeCondition">
                 INNER JOIN (SELECT c.id as campaignId
                             FROM creative_info cr
                                      LEFT JOIN creative_files cf ON cr.id = cf.creative_info_id
                                      LEFT JOIN (SELECT creative_info_id,
                                                        <include refid="ReportCommonMapper.reportUnionColumns"/>
                                                 FROM (SELECT creative_info_id,
                                                              <include refid="ReportCommonMapper.reportColumns"/>
                                                       FROM report_daily rd
                                                       WHERE rd.adaccount_info_id = #{request.adAccountId}
                                                         AND rd.report_date BETWEEN #{request.reportStartDate} AND #{request.reportEndDate}
                                                       GROUP BY rd.creative_info_id
                                                       UNION
                                                       SELECT creative_info_id,
                                                              <include refid="ReportCommonMapper.reportConversionColumns"/>
                                                       FROM report_conversion_daily rcd
                                                       WHERE rcd.adaccount_info_id = #{request.adAccountId}
                                                         AND rcd.report_date BETWEEN #{request.reportStartDate} AND #{request.reportEndDate}
                                                       GROUP BY rcd.creative_info_id) inner_report
                                                 GROUP BY creative_info_id) creativeReport ON creativeReport.creative_info_id = cr.id
                                      INNER JOIN adgroup_info a ON cr.adgroup_info_id = a.id
                                      INNER JOIN campaign_info c ON a.campaign_info_id = c.id
                            <trim prefix="WHERE" prefixOverrides="AND | OR ">
                                c.adaccount_info_id = #{request.adAccountId}
                                <include refid="com.adplatform.restApi.domain.creative.dao.mapper.CreativeQueryMapper.creativeCondition"/>
                            </trim>
                             GROUP BY campaignId) cr ON cr.campaignId = c.id
            </if>
        <trim prefix="WHERE" prefixOverrides="AND | OR ">
            c.adaccount_info_id = #{request.adAccountId}
            <include refid="AdTypeAndGoalCondition.adTypeGoalNames"/>
            <include refid="campaignCondition"/>
        </trim>
    </sql>

    <select id="search" resultMap="mapSearch">
        <include refid="searchCampaignSelectQuery"/>
        <include refid="common.sortAndOrder"/>
        <include refid="common.limitAndOffset"/>
    </select>

    <select id="countSearch" resultType="long">
        SELECT COUNT(*)
        FROM (<include refid="searchCampaignSelectQuery"/>) a
    </select>

    <select id="searchCampaignList" resultMap="mapSearch">
        <include refid="searchCampaignSelectQuery"/>
        <include refid="common.sortAndOrder"/>
    </select>

    <resultMap id="mapDetail" type="com.adplatform.restApi.domain.campaign.dto.CampaignDto$Response$Detail">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="dailyBudgetAmount" property="dailyBudgetAmount"/>
        <result column="budgetAmount" property="budgetAmount"/>
        <result column="config" property="config"/>
        <result column="systemConfig" property="systemConfig"/>
        <result column="status" property="status"/>
        <result column="createdAt" property="createdAt"/>
        <result column="updatedAt" property="updatedAt"/>
        <result column="startDate" property="startDate"/>
        <result column="endDate" property="endDate"/>
        <result column="adGroupSchedulesFirstStartDate" property="adGroupSchedulesFirstStartDate"/>
        <result column="adGroupSchedulesLastEndDate" property="adGroupSchedulesLastEndDate"/>
        <association property="adTypeAndGoal" javaType="com.adplatform.restApi.domain.campaign.dto.AdTypeAndGoalDto">
            <result column="adTypeName" property="adTypeName"/>
            <result column="adGoalName" property="adGoalName"/>
        </association>
    </resultMap>

    <sql id="searchByCampaignIdSelectQuery">
        SELECT c.id,
                tg.id                          AS adTypeGoalId,
                tg.adTypeName,
                tg.adGoalName,
                c.name,
                c.daily_budget_amount          AS dailyBudgetAmount,
                c.budget_amount                AS budgetAmount,
                c.config,
                c.system_config                AS systemConfig,
                c.status                       AS status,
                c.reg_date                     AS createdAt,
                c.upd_date                     AS updatedAt,
                c.start_date                   AS startDate,
                c.end_date                     AS endDate,
                c.start_date                   AS adGroupSchedulesFirstStartDate,
                c.end_date                     AS adGroupSchedulesLastEndDate
        FROM campaign_info c
        INNER JOIN (SELECT atg.id, at.name AS adTypeName, ag.name AS adGoalName
        FROM ad_type_goal_info atg
        INNER JOIN ad_type_info at ON atg.ad_type_info_id = at.id
        INNER JOIN ad_goal_info ag ON atg.ad_goal_info_id = ag.id) tg ON tg.id = c.ad_type_goal_info_id
        <trim prefix="WHERE" prefixOverrides="AND | OR ">
            c.id = #{campaignId}
        </trim>
    </sql>

    <select id="searchByCampaignId" resultMap="mapDetail">
        <include refid="searchByCampaignIdSelectQuery"/>
    </select>

</mapper>