<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adplatform.restApi.domain.agency.settlement.dao.mapper.AgencySettlementQueryMapper">
    <resultMap id="mapAmountSum" type="com.adplatform.restApi.domain.agency.settlement.dto.AgencySettlementDto$Response$AmountSum">
        <result column="cash" property="cash"/>
        <result column="freeCash" property="freeCash"/>
    </resultMap>

    <sql id="amountSumSelectQuery">
        SELECT t1.cash, t2.freeCash
        FROM (
             SELECT IFNULL(SUM(sale_amount),0) AS cash
               FROM sale_detail_amount_daily a, cash_info b
              WHERE a.stat_date BETWEEN #{startDate} AND #{endDate}
                AND a.cash_info_id = b.id
                AND a.company_info_id = #{companyId}
                AND b.sale_affect_yn = 'Y'
             ) t1,
             (
             SELECT IFNULL(SUM(sale_amount),0) AS freeCash
               FROM sale_detail_amount_daily a, cash_info b
              WHERE a.stat_date BETWEEN #{startDate} AND #{endDate}
               AND a.cash_info_id = b.id
               AND a.company_info_id = #{companyId}
               AND b.sale_affect_yn = 'N'
             ) t2
    </sql>

    <select id="amountSum" resultMap="mapAmountSum">
        <include refid="amountSumSelectQuery"/>
    </select>

    <resultMap id="mapSearch" type="com.adplatform.restApi.domain.agency.settlement.dto.AgencySettlementDto$Response$Search">
        <id column="id" property="id"/>
        <result column="commissionAmount" property="commissionAmount"/>
        <result column="commissionRate" property="commissionRate"/>
        <result column="commissionSupplyAmount" property="commissionSupplyAmount"/>
        <result column="commissionVatAmount" property="commissionVatAmount"/>
        <result column="issueStatus" property="issueStatus"/>
        <result column="paymentStatus" property="paymentStatus"/>
        <result column="statDate" property="statDate"/>
        <result column="supplyAmount" property="supplyAmount"/>
    </resultMap>

    <sql id="searchSelectQuery">
        SELECT id, stat_date AS statDate, supply_amount AS supplyAmount, commission_rate AS commissionRate,
               commission_supply_amount AS commissionSupplyAmount, commission_vat_amount AS commissionVatAmount,
               commission_amount AS commissionAmount, issue_status AS issueStatus, payment_status AS paymentStatus
          FROM adaccount_settlement_monthly
         WHERE stat_date BETWEEN #{request.startDate} AND #{request.endDate}
           AND company_info_id = #{request.companyId}
    </sql>

    <select id="search" resultMap="mapSearch">
        <include refid="searchSelectQuery"/>
        <include refid="common.sortAndOrder"/>
        <include refid="common.limitAndOffset"/>
    </select>

    <select id="countSearch" resultType="long">
        SELECT COUNT(*)
        FROM (<include refid="searchSelectQuery"/>) a
    </select>
</mapper>