<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
author junny
since 1.0
-->
<mapper namespace="com.adplatform.restApi.batch.dao.mapper.BatchSaveQueryMapper">
    <insert id="insertCampaignSettlementDaily">
        INSERT IGNORE INTO campaign_settlement_daily (stat_date, business_account_info_id, adaccount_info_id, campaign_info_id, pre_payment_yn, supply_amount)
        SELECT a.report_date, a.business_account_info_id, a.adaccount_info_id, a.campaign_info_id, b.pre_payment_yn, SUM(a.cost)
        FROM report_adgroup_daily a, business_account_info b
        WHERE a.business_account_info_id = b.id
        AND a.report_date BETWEEN #{startDate} AND #{endDate}
        GROUP BY a.report_date, a.business_account_info_id, a.adaccount_info_id, a.campaign_info_id
    </insert>

    <insert id="insertBusinessAccountSettlementMonthly">
        INSERT IGNORE INTO business_account_settlement (business_account_info_id, stat_date, supply_amount)
               SELECT a.business_account_info_id, #{endDate} AS stat_date, SUM(a.cost)
                 FROM report_adgroup_daily a, business_account_info b
                WHERE a.business_account_info_id = b.id
                  AND a.report_date BETWEEN #{startDate} AND #{endDate}
                GROUP BY a.business_account_info_id, left(a.report_date, 6)
    </insert>

    <insert id="insertBusinessAccountTaxBillMonthly">
        INSERT IGNORE INTO business_account_tax_bill (business_account_info_id, stat_date, supply_amount, vat_amount, total_amount)
                SELECT t1.business_account_info_id, t1.stat_date, ROUND((t1.supply_amount * 100 / (100 + b.vat_rate)), 2) AS supply_amount,
                       ROUND(t1.supply_amount - ROUND((t1.supply_amount * 100 / (100 + b.vat_rate)), 2), 2) AS vat_amount, t1.supply_amount AS total_amount
                  FROM (
                       SELECT a.business_account_info_id, 20230331 AS stat_date, SUM(a.supply_amount) AS supply_amount
                         FROM business_account_settlement a
                        WHERE stat_date BETWEEN #{startDate} AND #{endDate}
                        GROUP BY a.business_account_info_id
                       ) t1, (SELECT ref_data1 AS vat_rate FROM code_info WHERE key_code = '001001') b
              GROUP BY t1.business_account_info_id, t1.stat_date
    </insert>





    <insert id="insertMediaSettlementMonthly">
    </insert>

    <insert id="insertMediaTaxBillMonthly">
        INSERT INTO media_tax_bill_monthly (adaccount_info_id, media_info_id, stat_date, supply_amount, vat_amount, total_amount)
        SELECT t1.adaccount_info_id, t1.media_info_id, t1.stat_date, t1.supply_amount,
        (t1.supply_amount * 0.1) AS vat_amount,
        (t1.supply_amount + (t1.supply_amount * 0.1)) AS total_amount
        FROM (
        SELECT #{endDate} AS stat_date, a.adaccount_info_id, a.media_info_id, SUM(a.supply_amount) AS supply_amount
        FROM media_settlement_daily a
        WHERE stat_date BETWEEN #{startDate} AND #{endDate}
        GROUP BY a.adaccount_info_id, a.media_info_id
        ) t1
        GROUP BY t1.adaccount_info_id, t1.media_info_id
    </insert>

    <update id="updateCampaignLive">
        UPDATE campaign_info
        SET status = 'LIVE'
        WHERE start_date <![CDATA[<=]]> #{statDate}
        AND end_date <![CDATA[>=]]> #{statDate}
        AND status IN ('READY')
    </update>

    <update id="updateCampaignFinished">
        UPDATE campaign_info
        SET status = 'FINISHED'
        WHERE end_date <![CDATA[<]]> #{statDate}
        AND status IN ('LIVE')
    </update>

    <update id="updateAdGroupLive">
        UPDATE adgroup_info a, adgroup_schedule b
        SET a.status = 'LIVE'
        WHERE a.id = b.adgroup_info_id
        AND b.start_date <![CDATA[<=]]> #{statDate}
        AND b.end_date <![CDATA[>=]]> #{statDate}
        AND a.status IN ('READY')
    </update>

    <update id="updateAdGroupFinished">
        UPDATE adgroup_info a, adgroup_schedule b
        SET a.status = 'FINISHED'
        WHERE a.id = b.adgroup_info_id
        AND b.end_date <![CDATA[<]]> #{statDate}
        AND a.status IN ('LIVE')
    </update>









    <insert id="insertAdAccountSettlementDaily">
        INSERT INTO adaccount_settlement_daily (stat_date, adaccount_info_id, owner_company_info_id, company_info_id, supply_amount, vat_amount, total_amount)
             SELECT a.stat_date, a.adaccount_info_id, a.owner_company_info_id, a.company_info_id, a.supply_amount,
                    ROUND(a.supply_amount * 0.1, 2) AS vat_amount, ROUND((a.supply_amount + ROUND(a.supply_amount * 0.1, 2)), 2) AS total_amount
               FROM (
                    SELECT sd.stat_date, sd.adaccount_info_id, sd.owner_company_info_id, sd.company_info_id, SUM(sale_amount) AS supply_amount
                      FROM sale_detail_amount_daily sd, cash_info ci
                     WHERE sd.cash_info_id = ci.id
                       AND ci.sale_affect_yn = 'Y'
                       AND sd.stat_date = #{statDate}
                     GROUP BY sd.stat_date, sd.adaccount_info_id
                    ) a
           GROUP BY a.stat_date, a.adaccount_info_id
    </insert>

    <insert id="insertMediaSettlementDaily">
        INSERT INTO media_settlement_daily (stat_date, adaccount_info_id, media_info_id, company_info_id, supply_amount, vat_amount, total_amount)
             SELECT a.stat_date, a.adaccount_info_id, a.media_info_id, a.company_info_id, a.supply_amount,
                    ROUND(a.supply_amount * 0.1, 2) AS vat_amount, ROUND((a.supply_amount + ROUND(a.supply_amount * 0.1, 2)), 2) AS total_amount
               FROM (
                    SELECT rd.report_date AS stat_date, rd.adaccount_info_id, rd.media_info_id, mi.company_info_id, SUM(rd.cost) AS supply_amount
                      FROM report_adgroup_daily rd, media_info mi
                     WHERE rd.media_info_id = mi.id
                       AND rd.report_date = #{statDate}
                     GROUP BY rd.report_date, rd.adaccount_info_id, rd.media_info_id
                    ) a
              GROUP BY a.stat_date, a.adaccount_info_id, a.media_info_id
    </insert>

    <insert id="insertAdAccountSettlementMonthly">
        INSERT INTO adaccount_settlement_monthly (adaccount_info_id, owner_company_info_id, company_info_id, stat_date, supply_amount, commission_rate, commission_supply_amount, commission_vat_amount, commission_amount)
             SELECT t1.adaccount_info_id, t1.owner_company_info_id, t1.company_info_id, t1.stat_date, t1.supply_amount, t1.commission_rate,
                    (t1.supply_amount * t1.commission_rate / 100) AS commission_supply_amount, (t1.supply_amount * t1.commission_rate / 100 * 0.1) AS commission_vat_amount,
                    ((t1.supply_amount * t1.commission_rate / 100) + (t1.supply_amount * t1.commission_rate / 100 * 0.1)) AS commission_amount
               FROM (
                    SELECT #{endDate} AS stat_date, a.adaccount_info_id, a.owner_company_info_id, a.company_info_id, SUM(a.supply_amount) AS supply_amount, (SELECT commission_rate FROM platform_type_info WHERE platform_type = 'AD') AS commission_rate
                      FROM adaccount_settlement_daily a
                     WHERE stat_date BETWEEN #{startDate} AND #{endDate}
                     GROUP BY a.adaccount_info_id, a.owner_company_info_id, a.company_info_id
                    ) t1
              GROUP BY t1.adaccount_info_id, t1.owner_company_info_id, t1.company_info_id

    </insert>

    <insert id="insertAdAccountTaxBillMonthly">
        INSERT INTO adaccount_tax_bill_monthly (adaccount_info_id, owner_company_info_id, company_info_id, stat_date, supply_amount, vat_amount, total_amount)
             SELECT t1.adaccount_info_id, t1.owner_company_info_id, t1.company_info_id, t1.stat_date, t1.supply_amount,
                    (t1.supply_amount * 0.1) AS vat_amount, (t1.supply_amount + (t1.supply_amount * 0.1)) AS total_amount
              FROM (
                   SELECT #{endDate} AS stat_date, a.adaccount_info_id, a.owner_company_info_id, a.company_info_id, SUM(a.supply_amount) AS supply_amount
                     FROM adaccount_settlement_daily a
                    WHERE stat_date BETWEEN #{startDate} AND #{endDate}
                    GROUP BY a.adaccount_info_id, a.owner_company_info_id, a.company_info_id
                   ) t1
             GROUP BY t1.adaccount_info_id, t1.owner_company_info_id, t1.company_info_id
    </insert>


</mapper>