<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
author Seohyun Lee
since 1.0
-->
<mapper namespace="com.adplatform.restApi.domain.creative.dao.mapper.CreativeQueryMapper">
    <resultMap id="mapSearch" type="com.adplatform.restApi.domain.creative.dto.CreativeDto$Response$Default">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="config" property="config"/>
        <result column="systemConfig" property="systemConfig"/>
        <result column="reviewStatus" property="reviewStatus"/>
        <result column="status" property="status"/>
        <result column="campaignId" property="campaignId"/>
        <result column="adGroupId" property="adGroupId"/>
        <result column="adGroupName" property="adGroupName"/>
        <result column="fileId" property="fileId"/>
        <result column="fileName" property="fileName"/>
        <result column="fileType" property="fileType"/>
        <association property="report" javaType="com.adplatform.restApi.domain.statistics.dto.ReportDto$Response">
            <result column="cost" property="cost"/>
            <result column="impression" property="impression"/>
            <result column="click" property="click"/>
            <result column="reach" property="reach"/>
            <result column="videoAutoPlay" property="videoAutoPlay"/>
            <result column="videoTouches" property="videoTouches"/>
            <result column="videoUnmute" property="videoUnmute"/>
            <result column="videoPlay3Seconds" property="videoPlay3Seconds"/>
            <result column="videoPlay5Seconds" property="videoPlay5Seconds"/>
            <result column="videoPlay10Seconds" property="videoPlay10Seconds"/>
            <result column="videoPlay15Seconds" property="videoPlay15Seconds"/>
            <result column="videoPlay30Seconds" property="videoPlay30Seconds"/>
            <result column="videoPlay60Seconds" property="videoPlay60Seconds"/>
            <result column="videoPlay25Percent" property="videoPlay25Percent"/>
            <result column="videoPlay50Percent" property="videoPlay50Percent"/>
            <result column="videoPlay75Percent" property="videoPlay75Percent"/>
            <result column="videoPlay100Percent" property="videoPlay100Percent"/>
            <result column="signUpDay1" property="signUpDay1"/>
            <result column="purchaseDay1" property="purchaseDay1"/>
            <result column="viewCartDay1" property="viewCartDay1"/>
            <result column="signUpDay7" property="signUpDay7"/>
            <result column="purchaseDay7" property="purchaseDay7"/>
            <result column="viewCartDay7" property="viewCartDay7"/>
            <result column="ctr" property="ctr"/>
            <result column="cpm" property="cpm"/>
            <result column="cpc" property="cpc"/>
            <result column="reachRate" property="reachRate"/>
            <result column="videoPlayRate" property="videoPlayRate"/>
        </association>
    </resultMap>

    <sql id="creativeCondition">
        <choose>
            <when test="request.creativeCondition and request.creativeCondition.configs and request.creativeCondition.configs.size() > 0">
                <foreach collection="request.creativeCondition.configs" item="config" open="AND cr.config IN (" separator=", " close=")">
                    #{config}
                </foreach>
            </when>
            <otherwise>
                AND cr.config IN ('ON', 'OFF')
            </otherwise>
        </choose>
        <if test="request.creativeCondition">
            <if test="request.creativeCondition.ids and request.creativeCondition.ids.size() > 0">
                 <foreach collection="request.creativeCondition.ids" item="id" open="AND cr.id IN (" separator=", " close=")">
                     #{id}
                 </foreach>
             </if>
             <if test="request.creativeCondition.name">
                 AND cr.name LIKE CONCAT('%', #{request.creativeCondition.name}, '%')
             </if>
            <if test="request.creativeCondition.formats and request.creativeCondition.formats.size() > 0">
                 <foreach collection="request.creativeCondition.formats" item="format" open="AND cr.format IN (" separator=", " close=")">
                     #{format}
                 </foreach>
             </if>
            <if test="request.creativeCondition.campaignIds and request.creativeCondition.campaignIds.size() > 0">
                <foreach collection="request.creativeCondition.campaignIds" item="campaignId" open="AND a.campaign_info_id IN (" separator=", " close=")">
                    #{campaignId}
                </foreach>
            </if>
            <if test="request.creativeCondition.adGroupIds and request.creativeCondition.adGroupIds.size() > 0">
                <foreach collection="request.creativeCondition.adGroupIds" item="adGroupId" open="AND a.adgroup_info_id IN (" separator=", " close=")">
                    #{adGroupId}
                </foreach>
            </if>
             <if test="request.creativeCondition.configs and request.creativeCondition.configs.size() > 0">
                 <foreach collection="request.creativeCondition.configs" item="config" open="AND cr.config IN (" separator=", " close=")">
                     #{config}
                 </foreach>
             </if>
             <if test="request.creativeCondition.statuses and request.creativeCondition.statuses.size() > 0">
                 <foreach collection="request.creativeCondition.statuses" item="status" open="AND cr.creative_status IN (" separator=", " close=")">
                     #{status}
                 </foreach>
             </if>
            <if test="request.creativeCondition.reviewStatuses and request.creativeCondition.reviewStatuses.size() > 0">
                 <foreach collection="request.creativeCondition.reviewStatuses" item="reviewStatus" open="AND cr.review_status IN (" separator=", " close=")">
                     #{reviewStatus}
                 </foreach>
             </if>
             <if test="request.creativeCondition.reportConditions and request.creativeCondition.reportConditions.size() > 0">
                 <foreach collection="request.creativeCondition.reportConditions" item="condition">
                     AND ${condition.indicator.getValue()} ${condition.conditionFunction.getValue()} ${condition.value}
                 </foreach>
             </if>
        </if>
    </sql>

    <sql id="searchCreativeSelectQuery">
        SELECT cr.id,
               cr.name,
               cr.config,
               cr.system_config               AS systemConfig,
               cr.review_status               AS reviewStatus,
               cr.creative_status             AS status,
               c.id                           AS campaignId,
               cr.adgroup_info_id             AS adGroupId,
               a.name                         AS adGroupName,
               cf.id                          AS fileId,
               cf.file_name                   AS fileName,
               cf.file_type                   AS fileType,
               <include refid="ReportCommonMapper.searchReportColumns"/>
        FROM creative_info cr
                 LEFT JOIN creative_files cf ON cr.id = cf.creative_info_id
                 LEFT JOIN (SELECT creative_info_id,
                                   <include refid="ReportCommonMapper.reportUnionColumns"/>
                            FROM (SELECT creative_info_id,
                                         <include refid="ReportCommonMapper.reportColumns"/>
                                  FROM report_daily rd
                                  WHERE rd.adaccount_info_id = #{request.adAccountId}
                                    AND rd.report_date BETWEEN #{request.reportStartDate} AND #{request.reportEndDate}
                                  GROUP BY rd.creative_info_id
                                  UNION
                                  SELECT creative_info_id,
                                         <include refid="ReportCommonMapper.reportConversionColumns"/>
                                  FROM report_conversion_daily rcd
                                  WHERE rcd.adaccount_info_id = #{request.adAccountId}
                                    AND rcd.report_date BETWEEN #{request.reportStartDate} AND #{request.reportEndDate}
                                  GROUP BY rcd.creative_info_id) inner_report
                            GROUP BY creative_info_id) creativeReport ON creativeReport.creative_info_id = cr.id
                 INNER JOIN (SELECT a.id AS adGroupId, c.adaccount_info_id, at.name AS adTypeName, ag.name AS adGoalName
                             FROM ad_type_goal_info atg
                                      INNER JOIN ad_type_info at ON atg.ad_type_info_id = at.id
                                      INNER JOIN ad_goal_info ag ON atg.ad_goal_info_id = ag.id
                                      INNER JOIN campaign_info c ON atg.id = c.ad_type_goal_info_id
                                      INNER JOIN adgroup_info a ON a.campaign_info_id = c.id
                             GROUP BY adGroupId) tg ON tg.adGroupId = cr.adgroup_info_id
                 INNER JOIN (SELECT a.id, a.name, a.campaign_info_id
                             FROM adgroup_info a
                                      INNER JOIN adgroup_schedule s ON a.id = s.adgroup_info_id
                                      LEFT JOIN (SELECT adgroup_info_id,
                                                        <include refid="ReportCommonMapper.reportUnionColumns"/>
                                                 FROM (SELECT adgroup_info_id,
                                                              <include refid="ReportCommonMapper.reportColumns"/>
                                                       FROM report_adgroup_daily rad
                                                       WHERE rad.adaccount_info_id = #{request.adAccountId}
                                                         AND rad.report_date BETWEEN #{request.reportStartDate} AND #{request.reportEndDate}
                                                       GROUP BY rad.adgroup_info_id
                                                       UNION
                                                       SELECT adgroup_info_id,
                                                              <include refid="ReportCommonMapper.reportConversionColumns"/>
                                                       FROM report_adgroup_conversion_daily rac
                                                       WHERE rac.adaccount_info_id = #{request.adAccountId}
                                                         AND rac.report_date BETWEEN #{request.reportStartDate} AND #{request.reportEndDate}
                                                       GROUP BY rac.adgroup_info_id) inner_report
                                                 GROUP BY adgroup_info_id) adGroupReport ON adGroupReport.adgroup_info_id = a.id
                                      INNER JOIN campaign_info c ON c.id = a.campaign_info_id
                            <trim prefix="WHERE" prefixOverrides="AND | OR ">
                                c.adaccount_info_id = #{request.adAccountId}
                                <include refid="com.adplatform.restApi.domain.adgroup.dao.adgroup.mapper.AdGroupQueryMapper.adGroupCondition"/>
                            </trim>) a ON a.id = cr.adgroup_info_id
                 INNER JOIN (SELECT c.id
                             FROM campaign_info c
                                      LEFT JOIN (SELECT campaign_info_id,
                                                        <include refid="ReportCommonMapper.reportUnionColumns"/>
                                                 FROM (SELECT campaign_info_id,
                                                              <include refid="ReportCommonMapper.reportColumns"/>
                                                       FROM report_adgroup_daily rad
                                                       WHERE rad.adaccount_info_id = #{request.adAccountId}
                                                         AND rad.report_date BETWEEN #{request.reportStartDate} AND #{request.reportEndDate}
                                                       GROUP BY rad.campaign_info_id
                                                       UNION
                                                       SELECT campaign_info_id,
                                                              <include refid="ReportCommonMapper.reportConversionColumns"/>
                                                       FROM report_adgroup_conversion_daily rac
                                                       WHERE rac.adaccount_info_id = #{request.adAccountId}
                                                         AND rac.report_date BETWEEN #{request.reportStartDate} AND #{request.reportEndDate}
                                                       GROUP BY rac.campaign_info_id) inner_report
                                                 GROUP BY campaign_info_id) campaignReport
                                                ON campaignReport.campaign_info_id = c.id
                            <trim prefix="WHERE" prefixOverrides="AND | OR ">
                                c.adaccount_info_id = #{request.adAccountId}
                                <include refid="com.adplatform.restApi.domain.campaign.dao.campaign.mapper.CampaignQueryMapper.campaignCondition"/>
                            </trim>) c ON c.id = a.campaign_info_id
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <include refid="AdTypeAndGoalCondition.adTypeGoalNames"/>
            <include refid="creativeCondition"/>
        </trim>
    </sql>

    <select id="search" resultMap="mapSearch">
        <include refid="searchCreativeSelectQuery"/>
        <include refid="common.sortAndOrder"/>
        <include refid="common.limitAndOffset"/>
    </select>

    <select id="countSearch" resultType="long">
        SELECT COUNT(*)
        FROM (<include refid="searchCreativeSelectQuery"/>) a
    </select>
</mapper>