<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
author junny
since 1.0
-->
<mapper namespace="com.adplatform.restApi.domain.user.dao.mapper.UserQueryMapper">
    <resultMap id="mapSearch" type="com.adplatform.restApi.domain.user.dto.user.UserDto$Response$Search">
        <id column="id" property="id"/>
        <result column="loginId" property="loginId"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="active" property="active"/>
        <result column="roles" property="roles"/>
        <result column="company" property="company"/>
    </resultMap>

    <sql id="searchUserSelectQuery">
        SELECT
                a.user_no as id,
                a.user_id as loginId,
                a.user_name as name,
                a.email as email,
                a.phone as phone,
                a.active as active,
                group_concat(c.name) as roles,
                d.name as company
        FROM user_info a
        INNER JOIN user_roles b ON a.user_no=b.user_no
        INNER JOIN roles_info c ON b.roles_info_id=c.id
        INNER JOIN company_info d ON a.company_info_id=d.id
        GROUP BY a.user_no
    </sql>

    <select id="search" resultMap="mapSearch">
        <include refid="searchUserSelectQuery"/>
        <include refid="common.sortAndOrder"/>
        <include refid="common.limitAndOffset"/>
    </select>

    <select id="countSearch" resultType="long">
        SELECT COUNT(*)
        FROM (<include refid="searchUserSelectQuery"/>) a;
    </select>
</mapper>