<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
author junny
since 1.0
-->
<mapper namespace="com.adplatform.restApi.domain.user.dao.mapper.UserSaveQueryMapper">
    <insert id="insertUserApproveLog">
        INSERT INTO user_approve_log (user_no, prev_active, reg_user_no, reg_date)
        VALUES (#{user.id}, #{user.active}, #{loginUserNo}, NOW())
    </insert>

    <update id="updateUserStatus">
        UPDATE user_info
        SET active = #{request.status},
        status_chg_user_no = #{loginUserNo},
        status_chg_date = NOW(),
        upd_user_no = #{loginUserNo},
        upd_date = NOW()
        WHERE user_no = #{user.id}
    </update>

    <delete id="deleteUserRoles">
        DELETE FROM user_roles
        WHERE user_no = #{userNo}
    </delete>

    <update id="updateUserRoles">
        INSERT INTO user_roles (user_no, roles_info_id)
        SELECT #{userNo}, id
        FROM roles_info
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <foreach collection="request.agencyRoles" item="name" open="AND name IN (" separator=", " close=")">
                #{name}
            </foreach>
        </trim>
    </update>

    <update id="updateUserUpdDate">
        UPDATE user_info
        SET upd_user_no = #{loginUserNo},
        upd_date = NOW()
        WHERE user_no = #{userNo}
    </update>
</mapper>