<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adplatform.restApi.domain.adaccount.dao.adaccount.mapper.AdAccountQueryMapper">
    <resultMap id="mapSearch" type="com.adplatform.restApi.domain.adaccount.dto.adaccount.AdAccountDto$Response$AdAccountDashboardChart">
        <id column="reportDate" property="reportDate"/>
        <association property="report" javaType="com.adplatform.restApi.domain.statistics.dto.ReportDto$Response">
            <result column="cost" property="cost"/>
            <result column="impression" property="impression"/>
            <result column="click" property="click"/>
            <result column="reach" property="reach"/>
            <result column="videoAutoPlay" property="videoAutoPlay"/>
            <result column="videoTouches" property="videoTouches"/>
            <result column="videoUnmute" property="videoUnmute"/>
            <result column="videoPlay3Seconds" property="videoPlay3Seconds"/>
            <result column="videoPlay5Seconds" property="videoPlay5Seconds"/>
            <result column="videoPlay10Seconds" property="videoPlay10Seconds"/>
            <result column="videoPlay15Seconds" property="videoPlay15Seconds"/>
            <result column="videoPlay30Seconds" property="videoPlay30Seconds"/>
            <result column="videoPlay60Seconds" property="videoPlay60Seconds"/>
            <result column="videoPlay25Percent" property="videoPlay25Percent"/>
            <result column="videoPlay50Percent" property="videoPlay50Percent"/>
            <result column="videoPlay75Percent" property="videoPlay75Percent"/>
            <result column="videoPlay100Percent" property="videoPlay100Percent"/>
            <result column="signUpDay1" property="signUpDay1"/>
            <result column="purchaseDay1" property="purchaseDay1"/>
            <result column="viewCartDay1" property="viewCartDay1"/>
            <result column="signUpDay7" property="signUpDay7"/>
            <result column="purchaseDay7" property="purchaseDay7"/>
            <result column="viewCartDay7" property="viewCartDay7"/>
            <result column="ctr" property="ctr"/>
            <result column="cpm" property="cpm"/>
            <result column="cpc" property="cpc"/>
            <result column="reachRate" property="reachRate"/>
            <result column="videoPlayRate" property="videoPlayRate"/>
        </association>
    </resultMap>

    <sql id="adAccountDashboardChartSelectQuery">
        SELECT a.report_date      AS reportDate,
               <include refid="ReportCommonMapper.searchReportColumns"/>
          FROM (SELECT report_date,
                       <include refid="ReportCommonMapper.reportUnionColumns"/>
                  FROM (SELECT report_date,
                               <include refid="ReportCommonMapper.reportColumns"/>
                          FROM report_adgroup_daily rad
                         WHERE rad.adaccount_info_id = #{request.adAccountId}
                           AND rad.report_date BETWEEN #{request.startDate} AND #{request.endDate}
                         GROUP BY rad.report_date
                         UNION
                        SELECT report_date,
                               <include refid="ReportCommonMapper.reportConversionColumns"/>
                          FROM report_adgroup_conversion_daily rac
                         WHERE rac.adaccount_info_id = #{request.adAccountId}
                           AND rac.report_date BETWEEN #{request.startDate} AND #{request.endDate}
                         GROUP BY rac.report_date) inner_report
                 GROUP BY report_date ) a
         GROUP BY report_date
         ORDER BY report_date ASC
    </sql>

    <select id="adAccountDashboardChart" resultMap="mapSearch">
        <include refid="adAccountDashboardChartSelectQuery"/>
    </select>
</mapper>