<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adplatform.restApi.agency.businessright.dao.mapper.BusinessRightQueryMapper">
    <resultMap id="mapStatistics" type="com.adplatform.restApi.agency.businessright.dto.BusinessRightDto$Response$Statistics">
        <id column="businessRightStatus" property="businessRightStatus"/>
        <result column="count" property="count"/>
    </resultMap>

    <sql id="statisticsSelectQuery">
        SELECT br.status AS businessRightStatus, COUNT(*) AS count
          FROM adaccount_info ad, adaccount_business_right_request br
         WHERE ad.id = br.adaccount_info_id
           AND ad.platform_type = #{request.platformType}
           AND br.request_company_info_id = #{companyId}
         GROUP BY br.status
    </sql>

    <select id="statistics" resultMap="mapStatistics">
        <include refid="statisticsSelectQuery"/>
    </select>
</mapper>