<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
author junny
since 1.0
-->
<mapper namespace="com.adplatform.restApi.domain.agency.adaccount.dao.mapper.AgencyAdAccountQueryMapper">
    <resultMap id="mapSearch" type="com.adplatform.restApi.domain.agency.adaccount.dto.AgencyAdAccountDto$Response$Search">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="adAccountType" property="adAccountType"/>
        <result column="companyId" property="companyId"/>
        <result column="ownerCompanyId" property="ownerCompanyId"/>
        <result column="businessRegistrationNumber" property="businessRegistrationNumber"/>
        <result column="config" property="config"/>
        <result column="isBusinessRight" property="isBusinessRight"/>
    </resultMap>

    <sql id="searchCondition">
        <if test="request.searchType">
            <if test="request.searchType == 'AD_ACCOUNT_ID'">
                AND ad.id LIKE CONCAT('%', #{request.searchKeyword}, '%')
            </if>
            <if test="request.searchType == 'AD_ACCOUNT_NAME'">
                AND ad.name LIKE CONCAT('%', #{request.searchKeyword}, '%')
            </if>
            <if test="request.searchType == 'BUSINESS_REGISTRATION_NUMBER'">
                AND ad.business_registration_number = #{request.searchKeyword}
            </if>
        </if>
    </sql>

    <sql id="searchSelectQuery">
        SELECT ad.id, ad.name, ad.adaccount_type AS adAccountType, ad.company_info_id AS companyId, ad.owner_company_info_id AS ownerCompanyId, ad.business_registration_number AS businessRegistrationNumber, ad.config,
               CASE WHEN br.id is NULL THEN FALSE ELSE TRUE END AS isBusinessRight
          FROM adaccount_info ad LEFT JOIN adaccount_business_right_info br
                                        ON ad.id = br.adaccount_info_id
                                       AND br.start_date <![CDATA[ <= ]]> DATE_FORMAT(NOW(), '%Y%m%d')
                                       AND br.end_date <![CDATA[ >= ]]> DATE_FORMAT(NOW(), '%Y%m%d')
         WHERE ad.request_business_right_yn = 'Y'
           AND ad.platform_type = #{request.platformType}
        <include refid="searchCondition"/>
    </sql>

    <select id="search" resultMap="mapSearch">
        <include refid="searchSelectQuery"/>
        <include refid="common.sortAndOrder"/>
        <include refid="common.limitAndOffset"/>
    </select>

    <select id="countSearch" resultType="long">
        SELECT COUNT(*)
        FROM (<include refid="searchSelectQuery"/>) a
    </select>
</mapper>